<ngx-spinner bdOpacity="0 .9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<!--The content below is only a placeholder and can be replaced.-->
<div class="pl-2 pt-5">
    <form [formGroup]="markdownForm" (ngSubmit)="saveUpdate(markdownForm)" novalidate>
        <div class="form-row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block" (click)="newFile()">
                        Nuevo
                    </button>
                </div>
            </div>

            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let docu of documents" (click)="getFileDetail(docu)">
                        
                        <i class="far fa-file-alt fa-3x"></i>

                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{ docu.fileName }}</h5>
                        </div>

                        <button type="button" class="btn btn-danger" (click)="deleteFile(docu)">
                            Eliminar
                        </button>
                    </li>
                </ul>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label for="txtFileName">File Name: </label>
                    <input id="txtFileName"
                           class="form-control" 
                           type="text" 
                           formControlName="fileName">
                </div>

                <textarea class="form-control"
                          formControlName="content"
                          rows="15">
                </textarea>

                <button type="submit" class="btn btn-primary" [disabled]="markdownForm.invalid">
                    Save
                </button>
            </div>

            <div class="col-md-5">
                <markdown #marComponet class="variable-binding color-gray" [data]="markdownForm.controls['content'].value"></markdown>
            </div>
        </div>
    </form>
</div>

<router-outlet></router-outlet>

